# Storybook ENV Variables
CHROMATIC_TOKEN=

# Sanity Env Variables
NEXT_PUBLIC_SANITY_PROJECT_ID=
NEXT_PUBLIC_SANITY_DATASET=
NEXT_PUBLIC_SANITY_API_VERSION=
SANITY_API_READ_TOKEN=
NEXT_PUBLIC_SANITY_STUDIO_URL=
NEXT_PUBLIC_SERVER_URL=

# Authentication Env Variables
AUTH_SECRET=
AUTH_GOOGLE_ID=
AUTH_GOOGLE_SECRET=
